.navbar-custom {
    background-color: rgb(17, 17, 102);
    color: white;

}

nav .navbar-nav li a {
    color: white;
    margin-left: 30px;
}

body {
    font-family: "Arial Narrow Bold";
    background-color: lightgrey;
}


.topSection {
    background-color:rgb(0,0,68);
    width: 100%;
    height: 27vh;
    
}
p{
    color: white;
    font-size: 4em;
    margin-left: 50px;
}
.contentSection{
    background-color:white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -30px;
    margin-bottom: 50px;
    height: 1000px;
}